<form asp-controller="Vigenere" asp-action="Encriptar">
    <div class="form-group">
    <br/>
    <label for="mensaje">Mensaje: </label>
    <input type="text" class="form-control"  id="mesnaje" name="mensaje" placeholder="Mensaje">
    <br/>
    <label for="clave">Clave: </label>
    <input type="password" class="form-control" id="clave "name="clave" placeholder="Clave">
    <br/>
    <button type="submit" class="btn btn-primary">Encriptar</button>
    </div>
</form>